body {
    background-image:url("/background");
    background-repeat: no-repeat;
    background-color: rgba(255,255,204,0.9);
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.retate_svg {
    animation: rotation 3s infinite linear;
}

.retate_svg_small {
    animation: rotation 3s infinite linear;
}

.retate_svg_medium {
    animation: rotation 1.2s infinite linear;
}

.retate_svg_strong {
    animation: rotation 0.5s infinite linear;
}
